# 配置国内淘宝镜像源，加快依赖包下载速度
registry=https://registry.npmmirror.com/

# 配置 better-sqlite3 预编译二进制文件下载镜像
better_sqlite3_binary_host_mirror=https://registry.npmmirror.com/-/binary/better-sqlite3
better_sqlite3_binary_host=https://registry.npmmirror.com/-/binary/better-sqlite3
